###### Requirements without Version Specifiers ######
numpy
click
pyglet
ratcave
# conf
sphinx
sphinxcontrib-napoleon
mock

###### Requirements with Version Specifiers ######
#
###### Refer to other requirements files ######
#