###### Requirements without Version Specifiers ######
click
pyglet
numpy
ratcave
conf
sphinx
sphinxcontrib-napoleon
mock

###### Requirements with Version Specifiers ######
#
###### Refer to other requirements files ######
#